.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info {
  background-color: #61dafb;
  color: #282c34;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.status {
  margin-top: 30px;
}

.status p {
  margin: 5px 0;
}
